.Btn {
  cursor: pointer;
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.Btn:hover {
  background-color: #d8dddf;
}

.Btn img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.Btn_active {
  background-color: #e9edf1;
  box-shadow: 1px 1px 8px 1px #59697942;
}